.red{
    background-color: red ;
}
.green{
    background-color: green ;
}
.blue{
    background-color: blue ;
}
.yellow{
    background-color: yellow ;
}
.box1{
    height: 200px ;
    margin-bottom: 25px ;
}
.box2{
    height: 200px ;
    margin-bottom: 25px;
}
@media only screen and (min-width: 576px) and (max-width: 769px) {
.blue{
    display: flex ;
}
.box1{
width: 200px;
margin-right: 25px ;
margin-top: 25px;   
}
.box2{
width: 200px;
margin-left: 25px ;
margin-top: 25px ;
}
}